<ol>
  <li {{#unless step}}selected{{/unless}}><a href="./"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="./1?noslash"><span class="step">blocking - head</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="./2?noslash"><span class="step">blocking - inline</span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="./3?noslash"><span class="step">blocking - inverted</span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="./4?noslash"><span class="step">blocking - body</span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="./5?noslash"><span class="step">async</span></a></li>
  <li {{#ifeq step 6}}selected{{/ifeq}}><a href="./6?noslash"><span class="step">defer</span></a></li>
  <li {{#ifeq step 7}}selected{{/ifeq}}><a href="./7?noslash"><span class="step">module</span></a></li>
  <li {{#ifeq step 8}}selected{{/ifeq}}><a href="./8?noslash"><span class="step">module - import</span></a></li>
  <li {{#ifeq step 9}}selected{{/ifeq}}><a href="./9?noslash"><span class="step">module - async</span></a></li>
</ol>
