<div>
  <p>
    This demo uses the
    <code>scrcset</code>
    attribute to indicate to the browser a list of possible image sources. The
    <code>srcset</code>
    value used in this demo has a pixel-density descriptor for each image:
  </p>
  {{! prettier-ignore }}
  <code><pre>srcset=&quot./image-640.jpg,./image-1280.jpg 2x,./image-1920.jpg 3x&quot;</pre></code>
  <p>
    This <code>srcset</code> value recommends the browser to use
    <code>image-640.jpg</code>
    on a 1x device,
    <code>image-1280.jpg</code>
    on a 2x device and
    <code>image-1920.jpg</code>
    on a 3x device and above.
  </p>
  <div class="gallery">
    <div class="large">
      <img
        id="image"
        alt="Photograph of a group of pedestrians crossing the street."
        width="640"
        height="426"
        src="./image-640-uncompressed.jpg?v=2"
        srcset="./image-640-uncompressed.jpg?v=2, ./image-1280-uncompressed.jpg?v=2 2x, ./image-1920-uncompressed.jpg?v=2 3x"
      />
    </div>
  </div>
  <div>
    <p>
      <strong>Image details:</strong>
    </p>
    <table>
      <tbody>
        <tr>
          <td>
            File
          </td>
          <td id="currentSrc">
          </td>
        </tr>
        <tr>
          <td>
            Size
          </td>
          <td id="decodedBodySize">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Width
          </td>
          <td id="naturalWidth">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Height
          </td>
          <td id="naturalHeight">
          </td>
        </tr>
        <tr>
          <td>
            Display Width
          </td>
          <td id="clientWidth">
          </td>
        </tr>
        <tr>
          <td>
            Display Height
          </td>
          <td id="clientHeight">
          </td>
        </tr>
        <tr>
          <td>
            DPR
          </td>
          <td id="dpr">
          </td>
        </tr>
        <tr>
          <td>
            Percentage Used
          </td>
          <td id="usedPercentage">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    If you look at the table above, you could see which image is
    being used, together with its file size and resolution (intrinsic width and
    height). Try experimenting on different devices to see which image is used.
    Are you able to distinguish the different images just by looking at
    the image?
  </p>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>
      <pre><code>&lt;img
  alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
  width=&quot;640&quot;
  height=&quot;426&quot;
  src=&quot;./image-640-uncompressed.jpg&quot;
  srcset=&quot;./image-640-uncompressed.jpg, ./image-1280-uncompressed.jpg 2x, ./image-1920-uncompressed.jpg 3x&quot;
/&gt;</code></pre>
    </details>
  </p>
</div>
