<div>
  <p>
    This demo uses the
    <code>sizes</code>
    attribute combined with
    <code>scrcset</code>. The
    <code>srcset</code>
    attribute in this demo uses width descriptors:
  </p>
  {{! prettier-ignore }}
  <code><pre>srcset=&quot./image-640.jpg 640w,./image-1280.jpg 1280w,./image-1920.jpg 1920w&quot;</pre></code>
  <p>
    The width descriptor matches the image file's width. So the file
    <code>image-640.jpg</code>
    has a width of
    <code>640w</code>. The width descriptors are combined with the
    <code>sizes</code> attribute to inform the browser at what display size the
    image will be displayed on different viewports.
  </p>
  {{! prettier-ignore }}
  <code><pre>sizes=&quot;(min-width: 540px) 640px, calc(100vw - 2rem)&quot;</pre></code>
  <p>
    On devices with a viewport larger than 540px, the image will always be shown
    at 640px, while on smaller viewports it will occupy the viewport width minus
    2rem.
  </p>
  <div class="gallery">
    <div class="large">
      <img
        id="image"
        alt="Photograph of a group of pedestrians crossing the street."
        width="640"
        height="426"
        src="./image-640-uncompressed.jpg?v=3"
        srcset="./image-640-uncompressed.jpg?v=3 640w, ./image-1280-uncompressed.jpg?v=3 1280w, ./image-1920-uncompressed.jpg?v=3 1920w"
        sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
      />
    </div>
  </div>
  <div>
    <p>
      <strong>Image details:</strong>
    </p>
    <table>
      <tbody>
        <tr>
          <td>
            File
          </td>
          <td id="currentSrc">
          </td>
        </tr>
        <tr>
          <td>
            Size
          </td>
          <td id="decodedBodySize">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Width
          </td>
          <td id="naturalWidth">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Height
          </td>
          <td id="naturalHeight">
          </td>
        </tr>
        <tr>
          <td>
            Display Width
          </td>
          <td id="clientWidth">
          </td>
        </tr>
        <tr>
          <td>
            Display Height
          </td>
          <td id="clientHeight">
          </td>
        </tr>
        <tr>
          <td>
            DPR
          </td>
          <td id="dpr">
          </td>
        </tr>
        <tr>
          <td>
            Percentage Used
          </td>
          <td id="usedPercentage">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    If you look at the table above, you can observe that the image selected by
    the browser depends on the viewport width and not the device's DPR. If you
    compare this demo with the previous one, can you see which method is serving
    oversized or undersized images on different devices?
  </p>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>
      <pre><code>&lt;img
  alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
  width=&quot;640&quot;
  height=&quot;426&quot;
  src=&quot;./image-640-uncompressed.jpg&quot;
  srcset=&quot;./image-640-uncompressed.jpg, ./image-1280-uncompressed.jpg 2x, ./image-1920-uncompressed.jpg 3x&quot;
/&gt;</code></pre>
    </details>
  </p>
</div>
