<div>
  <p>
    Welcome to this demo - part of the <a href="https://web.dev/learn/performance">web.dev Learn Performance</a> series. During
    this demo we will be covering images, their role on your page's performance
    and how you can optimize them.
  </p>
  <p>Use the pane on the left to navigate through the different demos, or click
    the
    <i>Start</i>
    button below.
  </p>
  <p>
    To get the full benefit of this demo and how the images appear on different
    viewports and devices, we suggest that you go through the demo on real
    devices. If you are unable to do so, you could use your browser's
    <i>Responsive Mode</i>.
  </p>
  <p>
    <img
      width="1247"
      height="964"
      src="./welcome.png?v=1671717672601"
      alt="Screenshot of Chrome DevTools Responsive Mode."
    />
  </p>
</div>
