<ol>
  <li {{#unless step}}selected{{/unless}}><a href="./"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="./1?noslash"><span class="step">Prefetch resources</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="./2?noslash"><span class="step">Prefetch documents</span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="./3?noslash"><span class="step">Speculation Rules</span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="./4?noslash"><span class="step">Prerender</span></a></li>
</ol>
