<ol>
  <li {{#unless step}}selected{{/unless}}><a href="./"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="./1?noslash"><span class="step"><code>video</code>&nbsp;element</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="./2?noslash"><span class="step"><code>preload</code></span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="./3?noslash"><span class="step"><code>autoplay</code></span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="./4?noslash"><span class="step">GIF replacement</span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="./5?noslash"><span class="step">YouTube embed</span></a></li>
  <li {{#ifeq step 6}}selected{{/ifeq}}><a href="./6?noslash"><span class="step"><code>lite-youtube-embed</code></span></a></li>
  <li {{#ifeq step 7}}selected{{/ifeq}}><a href="./7?noslash"><span class="step"><code>fetchpriority</code></span></a></li>
</ol>
