<div>
  <p>
    Welcome to this demo, part of the <a href="https://web.dev/learn/performance">web.dev Learn Performance</a> series. Use the
    pane on the left to navigate through the different demos, or click the
    <i>Start</i>
    button below.
  </p>
  <p>
    The source code for this demo
    <a href="https://github.com/GoogleChromeLabs/web-perf-demos/tree/main/learn-performance-demos/learn-performance-dynamic-import">
      is available on GitHub</a>.
  </p>
  <p>
    Before starting, please open DevTools or your browser's equivalent to inspect
    the network traffic.
  </p>
  <p>
    <img
      width="942"
      height="356"
      src="./learn-performance-caching-0-1.png?v=1668007289143"
      alt="Screenshot of Chrome DevTools showing network response."
    />
  </p>
</div>
