<ol>
  <li {{#unless step}}selected{{/unless}}><a href="./"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="./1?noslash"><span class="step">Long tasks</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="./2?noslash"><span class="step"><code>setTimeout</code></span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="./3?noslash"><span class="step"><code>yieldToMain</code></span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="./4?noslash"><span class="step">When to yield?</span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="./5?noslash"><span class="step">Presentation Delay</span></a></li>
  <li {{#ifeq step 6}}selected{{/ifeq}}><a href="./6?noslash"><span class="step">Debounce</span></a></li>
  <li {{#ifeq step 7}}selected{{/ifeq}}><a href="./7?noslash"><span class="step"><code>postTask</code></span></a></li>
  <li {{#ifeq step 8}}selected{{/ifeq}}><a href="./8?noslash"><span class="step"><code>requestAnimationFrame</code></span></a></li>
</ol>
