<div>
  <p>
    Inlining the
    <code>@font-face</code>
    declaration and any critical CSS allows the browser to discover and begin
    downloading the font files earlier.
  </p>
  <p>
    When inlining CSS, the browser will only download font files that are
    need on the page.
  </p>
  <div class="fancy">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac orci
      dictum, dictum augue nec, semper sapien. Etiam efficitur a nisl sed
      semper. Nam et venenatis risus, eget consequat odio. Praesent at purus
      ligula. Pellentesque tincidunt lorem at augue mattis blandit. Cras at
      ipsum augue. Duis vestibulum, ex eu commodo tristique, sem dui cursus
      lorem, quis sollicitudin leo sem et dui. Integer nec pellentesque nisi.
      Aliquam fringilla quam neque, eget volutpat nisi pharetra ac. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas.
    </p>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>
      <pre><code>&lt;style&gt;
  @font-face {
    font-family: &quot;Dancing Script&quot;;
    src: url(&quot;/DancingScript-Regular.woff2?v=1676325285146&quot;);
  }

  .fancy {
    font-family: &quot;Dancing Script&quot;;
  }
&lt;/style&gt;</code></pre>
    </details>
  </p>
</div>
