<div>
  <p>
    This page preconnects to the Google Fonts domains using <code>&lt;link rel=&quot;preconnect&quot;&gt;</code> to improve the download
    time of the third-party content.
  </p>
  <p>
    Google Fonts requires two connections, one for the CSS file and one
    crossorigin connection for the font files.
  </p>
  <div class="fancy">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac orci
      dictum, dictum augue nec, semper sapien. Etiam efficitur a nisl sed
      semper. Nam et venenatis risus, eget consequat odio. Praesent at purus
      ligula. Pellentesque tincidunt lorem at augue mattis blandit. Cras at
      ipsum augue. Duis vestibulum, ex eu commodo tristique, sem dui cursus
      lorem, quis sollicitudin leo sem et dui. Integer nec pellentesque nisi.
      Aliquam fringilla quam neque, eget volutpat nisi pharetra ac. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas.
    </p>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;link rel=&quot;preconnect&quot; href=&quot;https://fonts.googleapis.com&quot;&gt;
&lt;link rel=&quot;preconnect&quot; href=&quot;https://fonts.gstatic.com&quot; crossorigin&gt;
&lt;link href=&quot;https://fonts.googleapis.com/css2?family=Dancing+Script&quot; rel=&quot;stylesheet&quot;&gt;</code></pre>
    </details>
  </p>
</div>