<div>
  <p>
    Welcome to this demo - part of the <a href="https://web.dev/learn/performance">web.dev Learn Performance</a> series. During
    this demo we will be covering the impact of videos on your page's
    performance and how you are able to optimize them.
  </p>
  <p>Use the pane on the left to navigate through the different demos, or click
    the
    <i>Start</i>
    button below.
  </p>
  <p>
    The source code for this demo
    <a href="https://github.com/GoogleChromeLabs/web-perf-demos/tree/main/learn-performance-demos/learn-performance-video">
      is available on GitHub</a>.
  </p>
  <p>
    Before starting, we suggest you to open DevTools or your browser's
    equivalent to inspect the network traffic and follow along.
  </p>
  <p>
    On some demos we also use
    <a href="https://webpagetest.org">WebPageTest</a>
    to generate a waterfall that illustrates the resources downloaded during the
    page load. You can compare this waterfall with what you see in DevTools or
    run your own WebPageTest to replicate the test.
  </p>
  <p>
    <img
      width="1378"
      height="913"
      src="./welcome-video.png?v=1671722490028"
      alt="Screenshot of Chrome DevTools showing network response."
    />
  </p>
</div>
