<div>
  <p>
    Welcome to this demo - part of the
    <a href="https://web.dev/learn/performance">web.dev Learn Performance</a>
    series. During this demo we will be covering long tasks, the event loop,
    yielding to the main thread and the Scheduler API.
  </p>
  <p>Use the pane on the left to navigate through the different demos, or click
    the
    <i>Start</i>
    button below.
  </p>
</div>