<div>
  <p>
    To confirm that the page was preloaded you can run the following snippet in the Console:
  </p>
  <pre><code>performance?.getEntriesByType?.('navigation')[0]?.activationStart &gt; 0</code></pre>
  <p>
    Alternatively, you can check the <i>This Page</i> tab of the Application panel.
  </p>
  <p>
    <img
      src="./learn-performance-prerender-preloading-status.png?v=1696241078557"
      alt="Chrome DevTools Application panel showing the Preloading status for this page."
      width="938"
      height="658"
      loading="lazy"
    />
  </p>
  <p>
    In the Application panel above, the <i>Preloading status</i> indicates that the page was successfully prerendered.
  </p>
</div>
